.mainbox{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.innerBox{
  height: 80vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.pagelist{
  display:flex;
  gap: 20px;
  justify-content: space-between;  
}
.num{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  background-color: rgb(8, 163, 8);
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.product{
  min-height: 200px;
  padding: 15px;
  min-width: 200px;
  border: 2px green solid;
  
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.productimage{
   height: 150px;
   width: 200px;
}
.titlebox{
  height: 50px;
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}